* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000000;
    margin: 0px;
    font-size: 100%;
}

.trytopnav {
    height: 48px;
    overflow: hidden;
    min-width: 380px;
    position: absolute;
    width: 100%;
    background-color: #E7E9EB;
    padding-left: 10px;
}

.topnav-icons {
    margin-right: 8px;
}

.trytopnav a,
.trytopnav button {
    color: #999999;
}


#framesize {
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#container {
    background-color: #E7E9EB;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 48px;
    bottom: 0;
    height: auto;
}

#textareacontainer,
#iframecontainer {
    float: left;
    height: 100%;
    width: 50%;
}

#textarea,
#textarea2,
#iframe {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 1px;
}

#textarea {
    padding-left: 10px;
    padding-right: 5px;
}

#iframe {
    padding-left: 5px;
    padding-right: 10px;

}

#textareawrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#iframewrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

#textareaCode,
#textareaCode2 {
    background-color: #ffffff;
    font-family: consolas, Menlo, "courier new", monospace;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    border: none;
    line-height: normal;
}

#iframeResult,
#iframeSource {
    background-color: #ffffff;

    height: 100%;
    width: 100%;
}

#runbtn {
    background-color: #04AA6D;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 6px 25px;
    margin-top: 4px;
    border-radius: 5px;
    word-spacing: 10px;
}

#runbtn:hover {
    background-color: #059862 !important;
    color: white !important;
}


@media screen and (max-width: 727px) {
    .trytopnav {
        top: 0px;
    }

    #container {
        top: 46px;
    }

    #breadcrumb {
        display: none;
    }

    #tryhome {
        display: block;
    }
}

@media screen and (max-width: 467px) {
    .trytopnav {
        top: 0px;
    }

    #container {
        top: 46px;
    }

    .w3-dropdown-content {
        width: 100%
    }
}

@media only screen and (max-device-width: 768px) {
    #iframewrapper {
        overflow: auto;
    }

    #container {
        min-width: 310px;
    }

    .stack {
        display: none;
    }

    #tryhome {
        display: block;
    }

    .trytopnav {
        min-width: 310px;
    }
}

#iframewrapper {}

.tabs-container {}
